.background-name {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 260px;
  font-weight: 700;
  color: rgba(199, 181, 111, 0.2);
}
