.homepage-header {
  background-color: #f4f4f4;
  .header-navigation {
    max-width: 662px;
    margin: 0 auto;
    padding: 0;
    height: 83px;
    line-height: 83px;
    list-style: none;
    .navigation-item {
      display: inline-block;
      margin-right: 90px;
    }
  }
}
